.arrow {
    display: flex;
    width: 16px;
    height: 16px;
    padding: 0 3px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

@media (min-width: 720px) {
    .arrow {
        width: 24px;
        height: 24px;
        padding: 5px 0;
    }

    .arrow-round:hover {
        background: var(--Gradient);
    }

    .arrow:active, .arrow-round:active {
        -webkit-filter: brightness(0.8);
        filter: brightness(0.8);
    }

    .arrow-vert {
        display: flex;
        width: 24px;
        height: 24px;
        padding: 0 5px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    .arrow-round {
        display: inline-flex;
        padding: 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 50px;
        border: 1px solid var(--Medium);
        background: var(--Dark-1);
    }
}

@media (min-width: 1440px) {
    .arrow {
        width: 32px;
        height: 32px;
        padding: 7px 0;
    }

    .arrow-round {
        padding: 24px;
    }
}