.arrow-32 {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 7px 0;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.arrow-round-32 {
    display: inline-flex;
    padding: 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid var(--Medium);
    background: var(--Dark-1);
}

.arrow-round-32:hover, .arrow-round-24:hover {
    background: var(--Gradient);
}

.arrow-round-32:active, .arrow-round-24:active {
    -webkit-filter: brightness(0.8);
}

.arrow-24 {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 5px 0;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.arrow-24-vert {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 0 5px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.arrow-round-24 {
    display: inline-flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid var(--Medium);
    background: var(--Dark-1);
}

.arrow-16 {
    display: flex;
    width: 16px;
    height: 16px;
    padding: 0 3px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}