.arrow {
    display: flex;
    width: 16px;
    height: 16px;
    padding: 0 3px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

@media (min-width: 720px) {
    .arrow {
        width: 24px;
        height: 24px;
        padding: 5px 0;
    }

    .swiper-button-disabled {
        visibility: hidden;
    }

    .gradient-block {
        position: absolute;
        display: flex;
        height: 100%;
        z-index: 5;
        pointer-events: none;
        align-content: center;
        width: calc(335px + 16px);
    }

    .gradient-block.right {
        right: 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 67.66%, #0D0D0D 116.63%);
    }

    .gradient-block.left {
        left: 0;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 67.66%, #0D0D0D 116.63%);
    }

    .arrow-round:hover {
        background: var(--Gradient);
    }

    .arrow:active, .arrow-round:active {
        -webkit-filter: brightness(0.8);
        filter: brightness(0.8);
    }

    .arrow-round.left {
        display: flex;
        position: absolute;
        align-self: center;
        justify-self: flex-start;
        margin-left: 15px;
        margin-right: auto;
        z-index: 10;
        left: 0;
        pointer-events: visible;
    }

    .arrow-round.right {
        position: absolute;
        align-self: center;
        justify-self: flex-end;
        margin-right: 15px;
        margin-left: auto;
        z-index: 10;
        right: 0;
        pointer-events: visible;
    }

    .arrow-round.left.no-margin, .arrow-round.right.no-margin {
        margin: 0;
    }

    .arrow-vert {
        display: flex;
        width: 24px;
        height: 24px;
        padding: 0 5px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    .arrow-round {
        display: inline-flex;
        padding: 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 50px;
        border: 1px solid var(--Medium);
        background: var(--Dark-1);
    }
}

@media (min-width: 1440px) {
    .arrow {
        width: 32px;
        height: 32px;
        padding: 7px 0;
    }

    .arrow-round {
        padding: 24px;
        width: 70px;
        height: 70px;
    }

    .arrow-round.left {
        margin-left: 135px;
    }

    .arrow-round.right {
        margin-right: 135px;
    }
}

@media (min-width: 1920px) {
    .arrow-round.right {
        margin-right: 30px !important;
    }

    .arrow-round.left {
        margin-left: 30px !important;
    }
}