/* Project cards */

.cards-control-block {
    justify-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.swiper.cards-control-block {
    display: flex;
    max-width: 100%;
    width: 100%;
}

.swiper-slide.project-card, .project-card {
    display: flex;
    width: calc(100vw - var(--scrollbar-width) - 30px);
    height: 430px;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    border-radius: 24px;
    background: var(--Dark);
    transition: height 0.3s ease, transform 0.3s ease;
    will-change: height, transform;
    padding: 0;
}

@supports (-webkit-touch-callout: none) {
    .swiper-slide.project-card, .project-card {
        width: calc(100% - 30px);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .swiper-slide.horizontal-card {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.swiper-slide.project-card:hover, .project-card:hover, .project-card a:hover {
    background: var(--Gradient);
}

.swiper-slide.project-card:active, .project-card:active, .project-card a:active {
    filter: brightness(0.9);
}

.swiper-slide-prev, .swiper-slide-next,
.swiper-slide-prev .project-card, .swiper-slide-next .project-card {
    height: 360px !important;
    transition: height 0.3s ease, transform 0.3s ease;
    will-change: height, transform;
}

.swiper-slide-prev .project-card img, .swiper-slide-next .project-card img {
    height: 196px !important;
    transition: height 0.3s ease, transform 0.3s ease;
    will-change: height, transform;
    object-fit: cover;
}

.swiper-slide-prev.horizontal-card, .swiper-slide-next.horizontal-card,
.swiper-slide-prev.horizontal-card img, .swiper-slide-next.horizontal-card img {
    height: calc(100% - 20px) !important;
    aspect-ratio: 3.45 / 2.3;
    align-self: center;
    transition: height 0.3s ease, transform 0.3s ease;
    will-change: height, transform;
}

.work-card-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: auto 15px 40px;
}

.work-card {
    min-width: unset;
    height: auto;
    width: 100%;
    flex-shrink: 0;
    align-self: stretch;
}

.project-photo {
    align-self: stretch;
    border-radius: 16px;
    box-shadow: 0 11px 25px 1px rgba(0, 0, 0, 0.13);
    aspect-ratio: 3.45 / 3;
    width: 100%;
    height: 266px;
    object-fit: cover;
    object-position: top;
    transition: height 0.3s ease, transform 0.3s ease;
}

.work-photo {
    min-height: 300px;
    flex: 1 0 0;
    align-self: stretch;
}

.content-block {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.skills-block {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
}

/* Vertical cards (images) */

.swiper.vertical-card-container, .vertical-card-container {
    width: 375px;
    height: 496px;
    flex-shrink: 0;
}

.swiper-slide.vertical-card, .vertical-card {
    display: flex;
    max-width: 345px;
    max-height: 457px;
    width: calc(100vw - var(--scrollbar-width) - 30px);
    aspect-ratio: 3.45 / 4.58;
    flex-shrink: 0;
    border-radius: 16px;
}

.swiper-slide.vertical-card:last-child {
    margin-right: 15px;
}

.swiper-slide.vertical-card.swiper-slide-next, .swiper-slide.vertical-card.swiper-slide-prev {
    height: unset !important;
}

/* Horizontal cards (with tabs) */

.horizontal-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: center;
}

.tabs-block {
    display: flex;
    padding-left: 15px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
}

.horizontal-card-block {
    display: flex;
    width: calc(100vw - var(--scrollbar-width));
    flex-direction: column;
    align-items: center;
    align-self: center;
    overflow: visible;
}

.swiper-slide.horizontal-card, .horizontal-card {
    display: flex;
    align-self: center;
    height: 100%;
    width: calc(100vw - var(--scrollbar-width) - 30px);
    aspect-ratio: 3.45 / 2.3;
    border-radius: 16px;
    transition: height 0.3s ease, transform 0.3s ease;
}

.horizontal-image {
    display: flex;
    flex: 1 0;
    align-self: flex-start;
    margin: 0;
    transition: height 0.3s ease, transform 0.3s ease;
}

.grade-img {
    padding: 8px 16px;
    align-self: stretch;
    aspect-ratio: 3.45 / 1.18;
    border-radius: 16px;
    border: 1px solid var(--Medium);
    background-color: #181818;
}

.horizontal-card-container.video-container {
    width: calc(100vw - var(--scrollbar-width) - 30px);
    place-self: stretch;
    margin: 0 15px;
}

.video-container {
    align-self: stretch;
    width: 100%;
    margin: 0 auto;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background: #000;
    padding: 0;
}

@media (min-width: 720px) {
    .cards-control-block {
        position: relative;
        overflow: visible;
        align-items: center;
    }

    .swiper.cards-control-block {
        padding: 0;
    }

    .swiper-slide:last-child {
        margin-right: 15px;
    }

    .swiper-slide.project-card, .project-card {
        width: 335px;
    }

    .swiper-slide-prev, .swiper-slide-next,
    .swiper-slide-prev .project-card, .swiper-slide-next .project-card {
        height: 452px !important;
    }

    .swiper-slide.project-card, .project-card {
        height: 452px;
    }

    .project-photo {
        height: 288px;
        min-height: unset;
        flex: unset;
    }

    .swiper-slide-prev .project-card img, .swiper-slide-next .project-card img {
        height: 288px !important;
    }

    .work-card-container {
        min-width: 690px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
        grid-gap: 20px;
        grid-row-gap: 20px;
        margin-bottom: 48px;
        align-self: center;
    }

    .work-card {
        height: 533px;
    }

    .vertical-control-block, .vertical-control-block.swiper {
        display: flex;
        height: 100%;
        width: calc(100vw - var(--scrollbar-width) - 226px);
    }

    .swiper.vertical-card-container, .vertical-card-container {
        display: flex;
        width: calc(100vw - var(--scrollbar-width) - 226px);
        margin: 0 113px;
        padding: 0 20px;
        align-items: center;
        clip-path: inset(0 20px);
        height: unset;
    }

    .swiper-slide.vertical-card, .vertical-card {
        width: 213px;
        height: 460px;
        max-width: unset;
        max-height: unset;
    }

    .swiper-slide.vertical-card:last-child, .vertical-card:last-child {
        margin-right: 0 !important;
    }

    .swiper.horizontal-card-container, .horizontal-card-container {
        display: flex;
        width: calc(100vw - var(--scrollbar-width) - 226px);
        margin: 0 113px;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 0;
        flex-direction: column;
    }

    .tabs-block {
        padding-left: 0;
    }

    .swiper-slide.horizontal-card, .horizontal-card {
        align-self: stretch;
        margin: 0 auto;
        display: flex;
        height: 100%;
        width: calc(100vw - var(--scrollbar-width) - 266px);
        aspect-ratio: 3.45 / 2.3;
        border-radius: 16px;
        transition: height 0.3s ease, transform 0.3s ease;
    }

    .swiper-slide-prev.horizontal-card, .swiper-slide-next.horizontal-card,
    .swiper-slide-prev.horizontal-card img, .swiper-slide-next.horizontal-card img {
        height: 100% !important;
        align-self: unset;
    }

    .grade-img {
        align-self: stretch;
        aspect-ratio: 4.54 / 1.18;
        margin: 0;
    }

    .horizontal-card-container.video-container {
        margin: 0 133px;
        width: calc(100vw - var(--scrollbar-width) - 266px);
    }

    .horizontal-card.video-container {
        min-height: 275px;
    }
}

@media (min-width: 1440px) {
    .swiper-slide:last-child {
        margin-right: 135px;
    }

    .swiper-slide.project-card, .project-card {
        width: 370px;
        height: 546px;
    }

    .swiper-slide-prev, .swiper-slide-next,
    .swiper-slide-prev .project-card, .swiper-slide-next .project-card {
        height: 546px !important;
    }

    .swiper-slide-prev .project-card img, .swiper-slide-next .project-card img {
        height: 320px !important;
    }

    .content-block {
        padding: 24px;
        gap: 24px;
    }

    .work-card-container {
        width: 1170px;
        grid-template-columns: repeat(auto-fill, minmax(370px, 3fr));
        grid-gap: 30px;
        margin: 0 135px 84px;
    }

    .project-photo {
        height: 320px;
    }

    .work-photo {
        height: 320px;
    }

    .work-card {
        height: 624px;
        width: 370px;
    }

    .swiper.vertical-card-container, .vertical-card-container {
        width: calc(100vw - var(--scrollbar-width) - 610px);
        padding: 0 30px;
        margin: 0 305px;
        clip-path: inset(0 30px);
    }

    .vertical-control-block, .vertical-control-block.swiper {
        width: calc(100vw - var(--scrollbar-width) - 610px);
    }

    .swiper-slide.vertical-card, .vertical-card {
        height: 494px;
        border-radius: 24px;
        min-width: unset;
        width: 370px !important;
    }

    .swiper-slide.vertical-card:last-child {
        margin-right: 0;
    }

    .swiper-slide-prev.vertical-card, .swiper-slide-next.vertical-card,
    .swiper-slide-prev.vertical-card img, .swiper-slide-next.vertical-card img {
        height: 494px !important;
        align-self: unset;
    }

    .swiper.horizontal-card-container, .horizontal-card-container {
        margin: 0 305px;
        width: calc(100vw - var(--scrollbar-width) - 670px);
        align-self: stretch;
    }

    .tabs-block {
        padding: 0 110px;
        gap: 16px;
    }

    .horizontal-card-block {
        gap: 30px;
        align-self: stretch;
    }

    .swiper-slide.horizontal-card, .horizontal-card {
        border-radius: 24px;
        width: 100%;
    }

    .swiper-slide-prev.horizontal-card, .swiper-slide-next.horizontal-card,
    .swiper-slide-prev.horizontal-card img, .swiper-slide-next.horizontal-card img {
        height: auto !important;
    }

    .horizontal-card img {
        width: calc(100vw - var(--scrollbar-width) - 670px);
        margin: 0 auto;
        aspect-ratio: 7.7 / 5.15;
    }

    .horizontal-card-container.video-container {
        margin: 0 335px;
        width: calc(100vw - var(--scrollbar-width) - 670px);;
    }

    .grade-img {
        width: 100%;
        min-height: 237px;
        height: auto;
    }
}

@media (min-width: 1920px) {
    .swiper-slide:last-child {
        margin-right: 175px;
    }

    .work-card-container {
        width: 1570px;
        grid-template-columns: repeat(auto-fill, minmax(370px, 4fr));
        grid-gap: 30px;
        margin: auto 140px 104px;
    }

    .swiper.horizontal-card-container, .horizontal-card-container {
        width: calc(100vw - var(--scrollbar-width) - 950px);
        margin: 0 445px;
    }

    .horizontal-card img {
        width: calc(100vw - var(--scrollbar-width) - 950px);
        margin: 0 auto;
        aspect-ratio: 9.7 / 6.5;
    }

    .swiper.vertical-card-container, .vertical-card-container {
        width: calc(100vw - var(--scrollbar-width) - 890px);
        margin: 0 445px;
    }

    .swiper-slide.vertical-card, .vertical-card {
        height: 618px;
        width: 464px !important;
    }

    .swiper-slide-prev.vertical-card, .swiper-slide-next.vertical-card,
    .swiper-slide-prev.vertical-card img, .swiper-slide-next.vertical-card img {
        height: 618px !important;
    }

    .horizontal-card-container.video-container {
        margin: 0 475px;
        width: calc(100vw - var(--scrollbar-width) - 950px);
    }
}