/* Project cards */

.cards-control-block {
    justify-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.swiper.cards-control-block {
    display: grid;
    max-width: 100%;
    width: 100%;
}

.swiper-slide.project-card, .project-card {
    display: flex;
    width: 309px;
    height: 405px;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    border-radius: 24px;
    background: var(--Dark);
    transition: height 0.3s ease, transform 0.3s ease;
}

.swiper-slide-prev, .swiper-slide-next,
.swiper-slide-prev .project-card, .swiper-slide-next .project-card {
    height: 359px !important;
}

.swiper-slide-prev.horizontal-card, .swiper-slide-next.horizontal-card,
.swiper-slide-prev.horizontal-card img, .swiper-slide-next.horizontal-card img {
    height: 191px !important;
    align-self: center;
}

.work-card-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: auto 15px 36px;
    min-width: 345px;
}

.work-card {
    min-height: 561px;
    min-width: 345px;
    width: 100%;
}

.project-photo {
    align-self: stretch;
    border-radius: 16px;
    background: lightgray 50% / cover no-repeat;
    box-shadow: 0 11px 25px 1px rgba(0, 0, 0, 0.13);
    aspect-ratio: 6 / 2;
    width: 100%;
    height: 100%;
    object-position: top;
}

.content-block {
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.skills-block {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
}

/* Vertical cards (images) */

.swiper.vertical-card-container, .vertical-card-container {
    width: 375px;
    height: 496px;
    flex-shrink: 0;
}

.swiper-slide.vertical-card, .vertical-card {
    display: flex;
    width: 345px;
    height: 457px;
    flex-shrink: 0;
    border-radius: 16px;
}

/* Horizontal cards (with tabs) */

.horizontal-card-container {
    display: flex;
    width: 375px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: center;
}

.tabs-block {
    display: flex;
    padding-left: 15px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
}

.horizontal-card-block {
    display: flex;
    width: calc(100vw - var(--scrollbar-width));
    flex-direction: column;
    align-items: center;
    align-self: center;
    overflow: visible;
}

.swiper-slide.horizontal-card, .horizontal-card {
    display: flex;
    min-width: 345px;
    width: calc(100vw - var(--scrollbar-width) - 30px);
    height: 209px;
    border-radius: 16px;
    transition: height 0.3s ease, transform 0.3s ease;
}

.horizontal-image {
    display: flex;
    flex: 1 0;
    align-self: flex-start;
    margin: 0;
}

.horizontal-card-container.video-container {
    width: calc(100vw - var(--scrollbar-width) - 30px);
    place-self: stretch;
    margin: 0 15px;
}

.video-container {
    align-self: stretch;
    width: 100%;
    margin: 0 auto;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background: #000;
}

@media (min-width: 720px) {
    .cards-control-block {
        position: relative;
        overflow: visible;
        align-items: center;
    }

    .swiper-slide:last-child {
        margin-right: 15px;
    }

    .swiper-slide.project-card, .project-card {
        width: 335px;
    }

    .swiper-slide-prev, .swiper-slide-next,
    .swiper-slide-prev .project-card, .swiper-slide-next .project-card {
        height: 405px !important;
    }

    .work-card-container {
        min-width: 690px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
        grid-gap: 20px;
        grid-row-gap: 20px;
        margin-bottom: 48px;
        align-self: center;
    }

    .swiper.vertical-card-container, .vertical-card-container {
        display: flex;
        width: calc(100vw - var(--scrollbar-width) - 226px);
        margin: 0 113px;
        padding: 0 20px;
        align-items: center;
    }

    .swiper-slide.vertical-card, .vertical-card {
        width: 217px;
        height: 460px;
    }

    .swiper.horizontal-card-container, .horizontal-card-container {
        display: flex;
        width: calc(100vw - var(--scrollbar-width) - 266px);
        margin: auto 113px 24px;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 0;
        flex-direction: column;
    }

    .tabs-block {
        padding-left: 0;
    }

    .swiper-slide.horizontal-card, .horizontal-card {
        height: 275px;
        align-self: stretch;
        width: 100%;
        margin: 0 auto;
    }

    .horizontal-card img {
        margin: 0 20px;
    }

    .swiper-slide-prev.horizontal-card, .swiper-slide-next.horizontal-card,
    .swiper-slide-prev.horizontal-card img, .swiper-slide-next.horizontal-card img {
        height: 275px !important;
        align-self: unset;
    }
}

@media (min-width: 1440px) {
    .swiper-slide:last-child {
        margin-right: 75px;
    }

    .swiper-slide.project-card, .project-card {
        width: 520px;
        height: 740px;
    }

    .swiper-slide-prev, .swiper-slide-next,
    .swiper-slide-prev .project-card, .swiper-slide-next .project-card{
        height: 740px !important;
    }

    .content-block {
        padding: 40px 24px;
        gap: 24px;
    }

    .work-card-container {
        width: 1290px;
        grid-template-columns: repeat(auto-fill, minmax(410px, 3fr));
        grid-gap: 30px;
        margin-bottom: 104px;
    }

    .work-card {
        height: 664px;
        width: 410px;
    }

    .swiper.vertical-card-container, .vertical-card-container {
        display: flex;
        width: calc(100vw - var(--scrollbar-width) - 370px);
        padding: 0 110px;
        align-items: center;
        margin: 0 185px;
        height: 1086px;
    }

    .swiper-slide.vertical-card, .vertical-card {
        height: 1086px;
        border-radius: 24px;
        min-width: 410px;
        width: calc((100vw - var(--scrollbar-width) - 590px - 30px) / 2) !important;
    }

    .swiper-slide-prev.vertical-card, .swiper-slide-next.vertical-card,
    .swiper-slide-prev.vertical-card img, .swiper-slide-next.vertical-card img {
        height: 1086px !important;
        align-self: unset;
    }

    .swiper.horizontal-card-container, .horizontal-card-container {
        width: calc(100vw - var(--scrollbar-width) - 370px);
    }

    .tabs-block {
        padding: 0 110px;
        gap: 16px;
    }

    .horizontal-card-block {
        gap: 30px;
        align-self: stretch;
    }

    .swiper-slide.horizontal-card, .horizontal-card {
        height: 515px;
        border-radius: 24px;
    }

    .swiper-slide-prev.horizontal-card, .swiper-slide-next.horizontal-card,
    .swiper-slide-prev.horizontal-card img, .swiper-slide-next.horizontal-card img {
        height: 515px !important;
    }

    .horizontal-card img {
        margin: 0 110px;
    }
}

@media (min-width: 1920px) {
    .swiper-slide:last-child {
        margin-right: 140px;
    }

    .work-card-container {
        width: 1440px;
        min-width: 1641px;
        grid-template-columns: repeat(auto-fill, minmax(527px, 3fr));
        grid-gap: 30px;
        margin: auto 140px 104px;
    }

    .work-card {
        height: 846px;
        width: 527px;
    }

    .swiper.horizontal-card-container, .horizontal-card-container {
        width: calc(100vw - var(--scrollbar-width) - 558px);
    }

    .horizontal-card img {
        margin: 0 140px;
    }
}