.control-block {
    height: 15px;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    margin: 16px auto 36px;
}

.dot {
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    background-color: #D9FFD0;
    opacity: 0.3;
    border: 0;
    border-radius: 20px;
}

.dot:hover {
    cursor: pointer;
}

.dot-next-prev {
    opacity: 0.7;
}

.dot-filled {
    background-color: var(--Primary);
    opacity: 1;
}

@media (min-width: 1440px) {
    .control-block {
        height: 24px;
        gap: 24px;
        flex-shrink: 0;
        margin: 40px auto 104px;
    }

    .dot {
        width: 24px;
        height: 24px;
    }
}