footer {
    display: flex;
    width: 345px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    justify-self: center;
    margin: auto;
}

.footer-container {
    display: flex;
    padding: 40px 16px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    align-self: stretch;
    border-radius: 16px;
    background: var(--Dark);
}

.links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.links-row {
    display: flex;
    flex-direction: row;
    padding: 0 24px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.social-block {
    display: flex;
    padding: 0 24px;
    align-items: center;
    gap: 40px;
}

@media (min-width: 720px) {
    footer {
        display: flex;
        width: 690px;
    }

    .footer-container {
        padding: 40px 15px;
        justify-content: space-between;
        flex-direction: row;
    }

    .links-container {
        height: 26px;
        align-items: flex-start;
        gap: 24px;
    }

    .social-block {
        gap: 24px;
        padding: 0;
    }

    .links-row {
        height: 26px;
        align-items: flex-start;
        gap: 24px;
        padding: 0;
    }
}

@media (min-width: 1440px) {
    footer {
        width: 1290px;
        gap: 40px;
        justify-self: center;
    }

    .footer-container {
        width: 1290px;
        padding: 57px 40px;
        justify-content: space-between;
        flex-direction: row;
    }

    .social-block {
        gap: 48px;
        padding: 0 24px;
    }
}