header {
    position: sticky;
    z-index: 10;
    top: 0;
    margin: 40px auto 48px;
    display: flex;
    width: 345px;
    padding: 16px 40px;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    border: 1px solid var(--Medium);
    background: var(--Gradient);
    backdrop-filter: blur(6px);
}

@media (min-width: 720px) {
    header {
        margin: 20px auto 0;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 1440px) {
    header {
        margin: 20px auto 0;
        padding: 20px 40px;
        justify-content: center;
        gap: 36px;
        border-radius: 30px;
        width: 549px;
    }
}