header {
    position: sticky;
    margin: 40px 15px 48px 15px;
    display: flex;
    width: 345px;
    padding: 16px 40px;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    border: 1px solid var(--Medium);
    background: var(--Gradient);
    backdrop-filter: blur(10px);
}

@media (min-width: 1440px) {
    header {
        display: inline-flex;
        padding: 20px 40px;
        justify-content: center;
        gap: 36px;
        border-radius: 30px;
    }
}