.content-container {
    display: flex;
    width: fit-content;
    min-width: 345px;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    gap: 24px;
    margin: 0 15px 24px;
}

.greeting {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--Primary);
    width: fit-content;
}

#my-photo {
    min-width: 345px;
    min-height: 428px;
    width: 100%;
    flex-shrink: 0;
    border-radius: 16px;
    background: lightgray 50% / cover no-repeat;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#infinite-line {
    display: flex;
    width: 100%;
    padding: 16px 0;
    align-items: center;
    gap: 22px;
    background: var(--Primary);
    margin: 48px 0;
}

.skills-block-home {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: center;
    min-width: 345px;
    margin: auto 15px 48px;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.align-start, .skills-block-home.align-start {
    align-self: flex-start;
    margin: 0;
    justify-content: flex-start;
}

.skills-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.get-in-touch {
    display: flex;
    min-width: 345px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 48px 15px 36px;
}

.background-ellipse-green {
    position: absolute;
    top: 500px;
    left: 29px;
    width: 422px;
    height: 562px;
    flex-shrink: 0;
    border-radius: 562px;
    background: rgba(49, 217, 60, 0.42);
    filter: blur(255px);
    z-index: 1;
}

.background-ellipse-blue {
    position: absolute;
    top: 1180px;
    right: 181px;
    width: 355px;
    height: 472px;
    flex-shrink: 0;
    border-radius: 472px;
    background: rgba(91, 104, 223, 0.73);
    filter: blur(255px);
    z-index: 1;
}

.background-ellipse-light-blue {
    position: absolute;
    top: 1980px;
    left: -38px;
    width: 560px;
    height: 662px;
    flex-shrink: 0;
    border-radius: 662px;
    background: rgba(91, 104, 223, 0.28);
    filter: blur(255px);
    z-index: 1;
}

@media (min-width: 720px) {
    .background-ellipse-green {
        top: 102px;
        left: 275px;
        width: 370px;
        height: 482px;
        border-radius: 482px;
        filter: blur(148px);
    }

    .background-ellipse-blue {
        top: 485px;
        right: 302px;
        width: 435px;
        height: 567px;
        border-radius: 567px;
        filter: blur(148px);
    }

    .background-ellipse-light-blue {
        top: 1468px;
        left: 215px;
        width: 490px;
        height: 567px;
        border-radius: 567px;
        filter: blur(148px);
    }

    .content-photo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        margin: 139px 15px auto;
    }

    .content-container {
        margin: auto;
    }

    #my-photo {
        min-width: 335px;
        min-height: 385px;
        flex: 1 0;
    }

    .projects-link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: auto 15px 24px;
    }

    .input-block {
        display: flex;
        height: auto;
        align-items: center;
        gap: 20px;
        flex-shrink: 0;
        margin: auto 15px 48px;
    }

    .get-in-touch {
        align-items: start;
        width: 335px;
        margin: 0;
        justify-self: center;
    }

    .letter-block {
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: stretch;
        gap: 40px;
        align-self: stretch;
        justify-content: space-between;
    }
}

@media (min-width: 1440px) {
    .background-ellipse-green {
        top: 128px;
        left: 574px;
        width: 637px;
        height: 831px;
        border-radius: 831px;
        filter: blur(255px);
    }

    .background-ellipse-blue {
        top: 787px;
        right: 618px;
        width: 750px;
        height: 980px;
        border-radius: 980px;
        filter: blur(255px);
    }

    .background-ellipse-light-blue {
        top: 2483px;
        left: 472px;
        width: 845px;
        height: 979px;
        border-radius: 979px;
        filter: blur(255px);
    }

    .content-photo {
        margin: 195px 75px auto;
        gap: 30px;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        flex: 1 0 0;
    }

    .greeting {
        padding: 16px 40px;
    }

    #my-photo {
        width: 520px;
        flex: unset;
    }

    .skills-block-home {
        max-width: 1920px;
        margin: auto 75px 104px;
        gap: 24px;
    }

    #infinite-line {
        margin: 104px 0;
    }

    .projects-link {
        margin: auto 75px 40px;
    }

    .input-block {
        gap: 30px;
        margin: auto 75px 104px;
    }

    .letter-block {
        align-items: flex-start;
        flex: 1 0 0;
        width: 630px;
    }

    .get-in-touch {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        align-self: stretch;
    }

    .letter-block img {
        width: 457px;
        height: 332px;
        flex-shrink: 0;
    }
}

@media (min-width: 1920px) {
    .background-ellipse-green {
        top: 127px;
        left: 765px;
        width: 849px;
        height: 822px;
        border-radius: 849px;
        filter: blur(255px);
    }

    .background-ellipse-blue {
        top: 778px;
        right: 823px;
        width: 1000px;
        height: 970px;
        border-radius: 1000px;
        filter: blur(255px);
    }

    .background-ellipse-light-blue {
        top: 2455px;
        left: 630px;
        width: 1127px;
        height: 968px;
        border-radius: 1127px;
        filter: blur(255px);
    }

    .content-photo {
        margin: 195px 140px auto;
        gap: unset;
        justify-content: space-between;
    }

    .content-container {
        min-width: 805px;
        margin-left: 0;
        flex: unset;
    }

    .skills-block-home {
        width: 1440px;
        margin: auto 140px 104px;
    }

    .projects-link {
        margin: auto 140px 40px;
    }

    .input-block {
        margin: auto 140px 104px;
    }
}