.input-container {
    display: flex;
    width: 100%;
    min-width: 345px;
    padding: 24px 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 16px;
    background: var(--Dark);
}

input, textarea {
    display: flex;
    padding: 12px;
    align-items: flex-start;
    align-self: stretch;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--Medium);
    background: var(--Dark-1);
    text-align: left;
    vertical-align: top;
    font-family: "Roboto Mono", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    color: white;
}

input:focus, input:hover,
textarea:focus, textarea:hover {
    color: var(--Light);
    border: 1px solid var(--Input-stroke-green);
    outline: none;
}

::placeholder {
    text-align: left;
    vertical-align: top;
    font-family: "Roboto Mono", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    color: var(--Medium);
}

.error-container {
    display: flex;
    width: 345px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.error {
    border: 1px solid var(--Input-stroke-red);
}

@media (min-width: 1440px) {
    .input-container {
        display: flex;
        height: 727px;
        padding: 40px;
        flex-direction: column;
        justify-items: center;
        gap: 24px;
        width: fit-content;
    }

    input {
        width: 550px;
        display: flex;
        height: 64px;
        padding: 16px;
        align-items: flex-start;
        gap: 10px;
        flex-shrink: 0;
        align-self: center;
    }

    input, textarea {
        font-size: 24px;
    }

    ::placeholder {
        font-family: "Roboto Mono", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--Medium);
    }

    .error-container {
        display: inline-flex;
        width: 660px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .error {
        align-self: stretch;
        border: 1px solid var(--Input-stroke-red);
    }
}