.overlay {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(22, 22, 22, 0.50);
    z-index: 1000;
    align-content: center;
    justify-content: center;
}

.overlay-block {
    margin: auto 15px;
    display: flex;
    align-self: center;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    border-radius: 30px;
    border: 1px solid var(--Medium);
    background: var(--Gradient);
    backdrop-filter: blur(10px);
}

.overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.overlay-content p {
    max-width: 481px;
}

@media (min-width: 1440px) {
    .overlay-block {
        margin: auto 135px;
        padding: 40px 130px;
    }
}