.oops-block {
    min-width: 345px;
    display: flex;
    padding: 20px;
    margin: -45px 15px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    border-radius: 16px;
    border: 1px solid var(--Medium);
    background: var(--Gradient);
    backdrop-filter: blur(10px);
}

.background-ellipse-green.page404 {
    top: 90px;
    left: unset;
    right: 60px;
    width: 166px;
    height: 660px;
    border-radius: 660px;
}

.background-ellipse-blue.page404 {
    top: 625px;
    left: 20px;
    width: 195px;
    height: 775px;
    border-radius: 775px;
}

@media (min-width: 720px) {
    .oops-block {
        margin: -185px 150px 75px;
    }

    .background-ellipse-green.page404 {
        top: 0;
        right: 115px;
        width: 320px;
        height: 600px;
        border-radius: 600px;
    }

    .background-ellipse-blue.page404 {
        top: 325px;
        left: 40px;
        width: 375px;
        height: 600px;
        border-radius: 600px;
    }
}

@media (min-width: 1440px) {
    .oops-block {
        padding: 40px;
        margin: -70px 310px auto;
        gap: 36px;
        border-radius: 30px;
    }
}