.oops-block {
    display: flex;
    padding: 20px;
    margin: -45px 15px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 18px;
    border-radius: 16px;
    border: 1px solid var(--Medium);
    background: var(--Gradient);
    backdrop-filter: blur(10px);
    max-width: 485px;
}

.background-ellipse-green.page404 {
    top: 40px;
    left: unset;
    right: 60px;
    width: 166px;
    height: 660px;
    border-radius: 660px;
}

.background-ellipse-blue.page404 {
    top: unset;
    bottom: -400px;
    left: 20px;
    width: 195px;
    height: 775px;
    border-radius: 775px;
}

@media (min-width: 720px) {
    .oops-block {
        margin: 355px 64px 75px;
        position: absolute;
        display: flex;
        align-self: center;
        max-width: 660px;
    }

    .background-ellipse-green.page404 {
        top: 0;
        right: 115px;
        width: 320px;
        height: 600px;
        border-radius: 600px;
    }

    .background-ellipse-blue.page404 {
        bottom: -80px;
        left: 40px;
        width: 375px;
        height: 600px;
        border-radius: 600px;
    }
}

@media (min-width: 1440px) {
    .oops-block {
        padding: 40px 80px;
        gap: 24px;
        border-radius: 30px;
        margin: 450px 376px 75px;
        max-width: unset;
    }

    .background-ellipse-green.page404 {
        top: 88px;
        right: 230px;
        width: 640px;
        height: 650px;
        border-radius: 650px;
    }

    .background-ellipse-blue.page404 {
        bottom: -185px;
        left: 75px;
        width: 750px;
        height: 765px;
        border-radius: 765px;
    }
}

@media (min-width: 1920px) {
    .oops-block {
        margin: 575px 627px 75px;
    }

    .background-ellipse-green.page404 {
        top: 120px;
        right: 305px;
        width: 850px;
        height: 890px;
        border-radius: 890px;
    }

    .background-ellipse-blue.page404 {
        bottom: -250px;
        left: 100px;
        width: 1000px;
        height: 1032px;
        border-radius: 1032px;
    }
}