* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--Black);
    
}

main {
    justify-items: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
}

textarea {
    resize: none;
}