* {
  box-sizing: border-box;
  z-index: 2;
}

body {
  margin: 0;
  background-color: var(--Black);
}

main {
  justify-items: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

ul {
  margin: 0;
  padding-left: 20px;
}
