@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url("../public/fonts/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 500;
    src: url("../public/fonts/Tomorrow-Medium.ttf") format("truetype");
}

h1 {
    color: var(--Primary);
    font-family: "Tomorrow", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin: 0;
}

h2 {
    color: var(--Primary);
    font-family: "Tomorrow", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.body-default {
    color: white;
    font-family: "Roboto Mono", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.body-small {
    color: white;
    font-family: "Roboto Mono", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.black {
    color: black;
}

.grey {
    color: var(--Medium);
}

.green {
    color: var(--Primary);
}

@media (min-width: 1440px) {
    h1 {
        font-size: 96px;
    }

    h2 {
        font-size: 48px;
    }

    .body-small {
        font-size: 24px;
    }

    .body-default {
        font-size: 32px;
    }
}