@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url("../public/fonts/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 500;
    src: url("../public/fonts/Tomorrow-Medium.ttf") format("truetype");
}

.not-found {
    color: var(--Primary);
    font-family: "Tomorrow", sans-serif;
    font-size: 150px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    align-self: center;
    display: flex;
    margin: 150px auto 0;
}

h1 {
    color: var(--Primary);
    font-family: "Tomorrow", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin: 0;
}

h2 {
    color: var(--Primary);
    font-family: "Tomorrow", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.body-default {
    color: white;
    font-family: "Roboto Mono", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.body-small {
    color: white;
    font-family: "Roboto Mono", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.error-text {
    font-family: "Roboto Mono", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 12px;
    color: var(--Error);
    margin: 0;
}

.body-small:hover a {
    cursor: pointer;
    color: var(--Primary);
}

.black {
    color: black;
}

.grey {
    color: var(--Medium);
}

.list-dots {
    color: white;
}

.green {
    color: var(--Primary);
}

.white {
    color: white;
}

@media (min-width: 720px) {
    .not-found {
        margin: 90px auto;
        font-size: 300px;
    }
}

@media (min-width: 1440px) {
    .not-found {
        margin: -50px auto;
        font-size: 400px;
    }

    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 40px;
    }

    .body-small {
        font-size: 20px;
    }

    .body-default {
        font-size: 24px;
    }

    .error-text {
        font-size: 17px;
    }
}

@media (min-width: 1920px) {
    .not-found {
        margin: 175px 550px auto;
        font-size: 450px;
    }
}