.main-gap {
    gap: 24px;
}

.projects-filter {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px; /* could be 16px ? */
    margin-bottom: 24px;
    align-self: center;
}

.back-none {
    background: none;
    border: none;
}

.work-content-block {
    margin: auto 15px;
    display: flex;
    min-width: 345px;
    align-self: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.work-sub-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: flex-start;
}

.last-block {
    margin-bottom: 48px;
}

.github-block {
    width: 100%;
    display: flex;
    padding: 24px 15px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    position: fixed;
    bottom: 0;
    margin: 48px auto 0;
    border-radius: 16px 16px 0 0;
    z-index: 15;
    background: var(--Dark);
}

.arrow-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

@media (min-width: 720px) {
    .projects-filter {
        position: relative;
        justify-self: flex-start;
        align-self: flex-start;
        margin: 105px auto 24px;
        width: 690px;
    }

    .work-content-block {
        margin: auto 113px;
        padding: 0 20px;
    }

    .github-block {
        bottom: unset;
        padding: unset;
        margin: 138px 15px 16px;
        border-radius: unset;
        position: unset;
        z-index: unset;
        background: unset;
        width: unset;
    }
}

@media (min-width: 1440px) {
    .main-gap {
        gap: 40px;
    }

    .projects-filter {
        margin: 196px auto 40px;
        width: 1290px;
    }

    .work-content-block {
        gap: 24px;
        margin: auto 185px;
        padding: 0 110px;
        width: calc(100vw - var(--scrollbar-width) - 370px);
    }
}