.projects-filter {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px; /* could be 16px ? */
    margin-bottom: 24px;
    align-self: center;
}

.back-none {
    background: none;
    border: none;
}

@media (min-width: 720px) {
    .projects-filter {
        position: relative;
        justify-self: flex-start;
        align-self: flex-start;
        margin: 105px auto 24px;
        width: 690px;
    }
}